@import '../pallete/pallete';

$light-primary: mat-palette($aqua, 700);
$light-accent: mat-palette($yellow);
$light-warn: mat-palette($danger-red, 600);

$light-theme: mat-light-theme(
  $light-primary,
  $light-accent,
  $light-warn
);
