
$aqua: (
    50 : #e7f4f6,
    100 : #c4e3e9,
    200 : #9dd0db,
    300 : #76bdcc,
    400 : #58aec1,
    500 : #3ba0b6,
    600 : #3598af,
    700 : #2d8ea6,
    800 : #26849e,
    900 : #19738e,
    A100 : #c5f1ff,
    A200 : #92e4ff,
    A400 : #5fd7ff,
    A700 : #46d1ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$yellow: (
    50 : #fdf8e6,
    100 : #fbedc2,
    200 : #f8e199,
    300 : #f5d470,
    400 : #f3cb51,
    500 : #f1c232,
    600 : #efbc2d,
    700 : #edb426,
    800 : #ebac1f,
    900 : #e79f13,
    A100 : #ffffff,
    A200 : #fff4e2,
    A400 : #ffe2af,
    A700 : #ffd896,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$danger-red: (
    50 : #fae9e9,
    100 : #f2c8c8,
    200 : #eaa3a3,
    300 : #e17e7e,
    400 : #da6262,
    500 : #d44646,
    600 : #cf3f3f,
    700 : #c93737,
    800 : #c32f2f,
    900 : #b92020,
    A100 : #fff2f2,
    A200 : #ffbfbf,
    A400 : #ff8c8c,
    A700 : #ff7373,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);




